################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/GARCExtractLocal.sln
/GARCExtractLocal.vcxproj
/GARCExtractLocal.vcxproj.filters
/GARCExtractLocal.vcxproj.user
/.vs
/Debug
/Release
